body, html{
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Page container start */
.container{
  height: inherit;
  display: grid;
  grid-template-rows: 100% 0%;
  grid-template-columns: 20% 80%;
}
  
  /*Left side of our page properties start*/
  .leftside{
    background-color: #1992D4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
  }

    .linkwrapper--large, .linkwrapper--small{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

      .linkwrapper--large > p{
        font-size: x-large;
      }

        #icon--large{
          height: 50px;
          width: 50px;
        }

      .linkwrapper--small > P{
        font-size: small;
        font-weight: 500;
      }

        .linkwrapper--small > svg{
            height: 25px;
            width: 25px;
        }




  /*Left side of our page properties end*/
  
  /*Right side of our page properties start*/
  .rightside{
    display: grid;
    grid-template-columns: 100!;
    grid-template-rows: 21% 79%;
  }

    .rightside--headbar{
      display: flex;
      flex-direction: row;
      background-color: #FAF9F6;
      /* box-shadow: 1rem 1rem 1rem 1rem #888888; */
      
    }

    .headbar--elements--left{
      width: 70%;
      display: grid;
      grid-template-rows: 33% 66%;
    }

      .searchbox--container{
        display: flex;
        align-items: center;
      }

        #searchicon{
          height: 30px;
          width: 30px;
        }

        #search{
          margin-top: 1rem;
          margin-left: 5%; 
          flex: 1;
          min-width: 70%;
          border-radius: 20px;
          border: none;
          background-color: #d0ebf7;
          height: 1.5rem;
        }

        /* #search:hover{
          background-color: white;
        }  */

      .avatar--blurb--separator{
        display: flex;
        flex-direction: row;
      }
      
        .avatar--container--large{
          width: 25%
        }

          #avatarlarge{
            height: 66px;
            width: 66px;
            border-radius: 50%;
            padding: 1rem 0rem 0rem 2.5rem;
          }

        .text--container--welcome{
          width: 75%; 
        }

          .text--container--welcome > p{
            margin: 1rem 0 0 15px; 
            padding-left: 5px;
          }

            .welcome{
              font-size: small;
            }

            .username{
              font-size: x-large;
            }


      .headbar--elements--right{
        width: 30%;
        display: grid;
        grid-template-rows: 33% 66%;
        margin-top: 1rem;
      } 

        .headbar--icon--wrapper{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }

          .headbar--symbol--wrapper{
            display: flex;
            align-items: center;
          }

            .headbar--symbol--wrapper > svg{
              height: 30px;
              width: 30px
            }

          .avatar--container--small{
            display: flex;
            align-items: center;
          }

            #avatarsmall{
              height: 33px;
              width: 33px;
              border-radius: 50%;
            }

          .headbar--name--wrapper{
            display: flex;
            align-items: center;
          }

            .headbar--name--wrapper > p{
              font-size: medium;
            }

        .headbar--buttons{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px ;
        }
      
          #headbarbuttons{
            border-radius: 20px;
            background-color: #1992D4;
            color: white;
            border: none;
            height: 2rem;
            width: 6rem;
            font-weight: bold;
            font-size: medium;
          }  
        
    .rightside--content{
      background-color: #E2E8F0;
      /* box-shadow: 0px -25px 1px 1px;
      z-index: -1; */
      
    }
  
  /*Right side of our page properties end*/

/* page container end */
