body, html{
  height: 100vh;
  width: 100vw;
}

.container {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-rows: 100% 0;
    grid-template-columns: 20.0% auto;
    gap: 0px;
    border: 1px solid black;
    background-color: #1992D4;
  }

    .container > div{
      border: 1px solid blue;
    }
  
    .subcontainer{
      background-color: #FFFFFF;
      display: grid;
      grid-template-rows: 21% auto;   
    }

      .subcontainer > div {
        border: 1px solid blue; 
        background-color: #E2E8F0;
      }